{
  "openapi": "3.0.3",
  "info": {
    "title": "Torqlang Northwind DB API",
    "description": "This is an example API for the Northwind DB",
    "license": {
      "name": "Torqlang License v1.0",
      "url": "https://github.com/torqlang/torqlang/blob/main/LICENSE.md"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://northwind.torqlang.org/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Orders"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/details": {
      "get": {
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderDetails"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Message": {
        "type": "object",
        "required": ["name", "message", "type"],
        "properties": {
          "details": {
            "type": "string",
            "example": "A zero quantity is not allowed. Enter a non-zero quantity or remove the item."
          },
          "message": {
            "type": "string",
            "example": "Zero quantity is not allowed"
          },
          "name": {
            "type": "string",
            "example": "com.my.application.ZeroQuantityError"
          },
          "trace_id": {
            "type": "string",
            "example": "19bc9126-6182-47f8-b799-a81ea54f8e8f"
          },
          "type": {
            "type": "string",
            "enum": ["ERROR", "INFO", "WARN"],
            "example": "ERROR"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "employee_id": {
            "type": "integer",
            "format": "int64"
          },
          "customer_id": {
            "type": "integer",
            "format": "int64"
          },
          "order_date": {
            "type": "string",
            "format": "date-time",
            "example": "2006-01-15T00:00:00Z"
          },
          "shipped_date": {
            "type": "string",
            "format": "date-time",
            "example": "2006-01-22T00:00:00Z"
          },
          "shipper_id": {
            "type": "integer",
            "format": "int64"
          },
          "ship_name": {
            "type": "string",
            "maxLength": 50
          },
          "ship_address": {
            "type": "string",
            "format": "long-text"
          },
          "ship_city": {
            "type": "string",
            "maxLength": 50
          },
          "ship_state_province": {
            "type": "string",
            "maxLength": 50
          },
          "ship_zip_postal_code": {
            "type": "string",
            "maxLength": 50
          },
          "ship_country_region": {
            "type": "string",
            "maxLength": 50
          },
          "shipping_fee": {
            "type": "string",
            "format": "decimal(19, 4)"
          },
          "taxes": {
            "type": "string",
            "format": "decimal(19, 4)"
          },
          "payment_type": {
            "type": "string",
            "maxLength": 50
          },
          "paid_date": {
            "type": "string",
            "format": "date-time",
            "example": "2006-01-15T00:00:00Z"
          },
          "notes": {
            "type": "string",
            "format": "long-text"
          },
          "tax_rate": {
            "type": "number",
            "format": "double"
          },
          "tax_status_id": {
            "type": "integer",
            "format": "int32"
          },
          "status_id": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "order_id": {
            "type": "integer",
            "format": "int64"
          },
          "product_id": {
            "type": "integer",
            "format": "int64"
          },
          "quantity": {
            "type": "string",
            "format": "decimal(18, 4)"
          },
          "unit_price": {
            "type": "string",
            "format": "decimal(19, 4)"
          },
          "discount": {
            "type": "number"
          },
          "status_id": {
            "type": "integer",
            "format": "int64"
          },
          "date_allocated": {
            "type": "string",
            "format": "date-time",
            "example": "2006-01-15T00:00:00Z"
          },
          "purchase_order_id": {
            "type": "integer",
            "format": "int64"
          },
          "inventory_id": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}